<div class="recipe-list">
<h1>Recipe page :</h1>
<div class="add-recipe-link">
  <%= link_to 'Add Recipe', '/recipes/new' %>
</div>
  <% @recipes.each do |recipe| %>
    <div class="recipes-container">
      <div class="recipe-title">
        <%= link_to "#{recipe.name}", "/recipes/#{recipe.id}"%>
        <%= button_to "Remove","/recipes/#{recipe.id}", method: :delete %>
      </div>
      <div>
        <%= recipe.description %>
      </div>
    </div>
  <% end %>
</div>
