.shopping-list h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 25px;
}

.shopping-list .details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  font-size: 20px;
}

.shopping-list .tables {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.shopping-list table {
  border-collapse: collapse;
  width: 70%;
  border: 1px solid #000;
}

.shopping-list thead {
  background-color: #6f6f6f;
}

.shopping-list th,
td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

.shopping-list .shop:nth-child(even) {
  background-color: #c5c5c5;
}
